$tamnoljubicasta: #131B30;
@keyframes grow {
    from { transform: scale(1%);}
    to { transform: scale(100%);}
}
* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #fff;
    &:hover {
        color: rgb(163, 163, 163);
        transition: 0.4s;
    }
}
body {
    background-image: linear-gradient(to bottom right, #000, #6C41B5);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@mixin centerflex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav {
    ul {
        list-style-type: none;
        @include centerflex;
        li {
            margin: 30px;
            font-size: 65px;
        }
    }
    border: 9px solid #fff;
    width: 60%;
    margin: 40px auto;
    border-radius: 100px;
}
#arrow {
    i {
        font-size: 10vh;
        color: #B3C3F6;
        position: fixed;
        bottom: 4vw;
        right: 10vw;
    }
}
hr {
    border-bottom: 10px solid #fff;
    background-color: #fff;
    width: 60%;
    border-radius: 50%;
    margin: 100px auto;
}
#author_card {
    @include centerflex;
    flex-direction: column;
    background-image: url(../img/blurred-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    img {
        border-radius: 50%;
        margin: 40px;
        width: 650px;
        border: 10px solid $tamnoljubicasta;
        animation-name: grow;
        animation-duration: 1s;
    }
    #bg-text {
        @include centerflex;
        flex-direction: column;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.8);
        margin-bottom: 30px;
        border-radius: 40px;
        width: 60%;
        h1 {
            font-size: 65px;
        }
        h2 {
            font-size: 50px;
        }
        h1, h2 {
            font-weight: 300;
            margin: 40px;
        }
    }
}
.part {
    width: 60%;
    margin: 20px auto;
}
.mainpart {
    margin: 50px 0px;
}
.parthead {
    font-size: 85px;
    text-align: center;
    font-weight: 300;
}
#skills {
    @include centerflex;
    .skill {
        @include centerflex;
        flex-direction: column;
        align-self: stretch;
        width: 45%;
        margin: 30px;
        border: 5px solid #fff;
        border-radius: 40px;
        h4 {
            font-size: 65px;
            margin: 15px;
            text-align: center;
        }
        p {
            font-size: 45px;
            text-align: center;
            margin: 20px;
        }
        i {
            font-size: 200px;
            margin: 25px;
        }
    }
}
#services {
    @extend #skills;
    .service {
        @extend .skill;
        i {
            font-size: 140px;
            margin: 40px;
        }
    }
}
#projects {
    @include centerflex;
    h4, p {
        font-size: 65px;
        text-align: center;
        font-weight: 400;
        margin: 40px 0px;
    }
    p {
        font-size: 45px;    
    }
    .ita {
        font-style: italic;
    }
    .techs {
        font-weight: 500;
        border: 3px solid #fff;
        border-radius: 30px;
        padding: 20px;        
    }
    img {
        border: 2px solid #fff;
        border-radius: 20px;
        width: 100%;
        &:hover {
            transform: scale(110%);
            transition: 1s;
        }
    }
}
#contact {
    h4 {
        font-size: 65px;
        font-weight: 400;
        margin-top: 60px;
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        font-size: 45px;
        margin-top: 3px;
        margin-left: 40px;
    }
    .typeofinfo {
        font-weight: bold;
        text-decoration: underline;
        margin-top: 13px;
        margin-left: 20px;
    }
    #left, #right {
        width: 40%;
    }
    #contcont {
        display: flex;
        justify-content: space-between;
    }
    form {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input, textarea {
            width: 70%;
            height: 70px;
            font-size: 40px;
            margin: 10px;
            padding: 15px;
            border: 5px solid #000;
            border-radius: 20px;
        }
        textarea {
            font-family: 'Roboto', sans-serif; 
            height: 5em; 
        }
        #subm {
            width: 20%;
            height: 3em;
            background-color: transparent;
            color: #fff;
            border-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                color: rgb(163, 163, 163);
                border-color: rgb(163, 163, 163);
            }
        }
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5em;
    background: #000;
    text-align: center;
    font-size: 40px;
    padding: 8px;
}


@media screen and (max-width: 1921px) {
    nav {
        ul {
            li {
                margin: 20px;
                font-size: 35px;
            }
        }
        border-width: 5px;        
    }
    
    hr {
        margin: 30px auto;}
    #author_card {
        img {
            width: 370px;
        }
        #bg-text {
            h1 {
                font-size: 45px;
            }
            h2 {
                font-size: 35px;
            }
            h1, h2 {
                margin: 30px;
            }
        }
    }
    .parthead {
        font-size: 50px;
    }
    .mainpart {
        margin: 25px 0px;
    }
    #skills {
        .skill {
            margin: 20px;
            width: 40%;
            h4 {
                font-size: 40px;
                margin: 10px;
            }
            p {
                font-size: 28px;
            }
            i {
                font-size: 120px;
            }
        }
    }
    #services {
        @extend #skills;
        .service {
            @extend .skill;
            i {
                font-size: 100px;
            }
        }
    }
    #projects {
        h4, p {
            font-size: 45px;
            margin: 20px auto;
        }
        p {
            font-size: 30px;
        }
        .techs {
            padding: 12px;
        }
    }
    #contact {
        h4 {
            font-size: 45px;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        p {
            font-size: 25px;
        }
        #left, #right {
            width: 40%;
        }
        form {
            margin: 40px 0px;
            input, textarea {
                height: 35px;
                font-size: 28px;
                margin: 8px;
                padding: 8px;
            }
            textarea {
                font-family: 'Roboto', sans-serif;
                height: 5em; 
            }
            #subm {
                width: 30%;
            }
        }
    }
    footer {
        font-size: 20px;
    }
}


@media screen and (max-width: 1025px) {
    nav {
        ul {
            li {
                margin: 20px;
                font-size: 23px;
            }
        }
        margin: 25px auto;
    }
    #author_card {
        img {
            width: 270px;
        }
        #bg-text {
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 25px;
            }
            h1, h2 {
                margin: 20px;
            }
        }
    }
    .parthead {
        font-size: 38px;
    }
    .mainpart {
        margin: 20px 0px;
    }
    #skills {
        .skill {
            margin: 15px;
            width: 40%;
            h4 {
                font-size: 35px;
                margin: 5px;
            }
            p {
                font-size: 20px;
            }
            i {
                font-size: 100px;
            }
        }
    }
    #services {
        @extend #skills;
        .service {
            @extend .skill;
            i {
                font-size: 80px;
            }
        }
    }
    #projects {
        h4, p {
            font-size: 35px;
            margin: 15px auto;
        }
        p {
            font-size: 25px;
        }
        .techs {
            padding: 8px;
        }
    }
    #contact {
        h4 {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
        }
        #left, #right {
            width: 41%;
        }
        form {
            margin: 20px 0px;
            input, textarea {
                height: 20px;
                font-size: 21px;
                margin: 8px;
                padding: 8px;
            }
            textarea {
                font-family: 'Roboto', sans-serif; 
                height: 5em;
            }
            #subm {
                width: 30%;
            }
        }
    }
    footer {
        font-size: 17px;
        padding: 6px;
    }
}

@media screen and (max-width: 769px) {
    nav {
        ul {
            li {
                margin: 14px;
                font-size: 20px;
            }
        }
        border-width: 3.5px;
        margin: 20px auto;
        width: 75%;
    }
    #arrow {
        i {
            bottom: 4vw;
            right: 4vw;
        }
    }
    #author_card {
        img {
            width: 200px;
        }
        #bg-text {
            width: 80%;
            h1 {
                font-size: 26px;
            }
            h2 {
                font-size: 20px;
            }
            h1, h2 {
                margin: 14px;
            }
        }
    }
    .part {
        width: 75%;
        margin: 0px auto;
    }
    .parthead {
        font-size: 30px;
    }
    #skills {
        .skill {
            margin: 15px;
            width: 40%;
            h4 {
                font-size: 28px;
                margin: 2px;
            }
            p {
                font-size: 18px;
                margin: 15px;
            }
            i {
                font-size: 75px;
            }
        }
    }
    #services {
        @extend #skills;
        .service {
            @extend .skill;
            i {
                font-size: 60px;
            }
        }
    }
    #projects {
        h4, p {
            font-size: 28px;
            margin: 15px auto;
        }
        p {
            font-size: 23px;
        }
        .techs {
            padding: 7px;
        }
    }
    #contact {
        h4 {
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
        }
        #left, #right {
            width: 40%;
        }
        form {
            margin: 20px 0px;
            input, textarea {
                height: 20px;
                font-size: 21px;
                margin: 8px;
                padding: 8px;
            }
            textarea {
                font-family: 'Roboto', sans-serif;
                height: 5em; 
            }
            #subm {
                width: 30%;
            }
        }
    }
    footer {
        font-size: 14px;
        padding: 4px;
    }
}

@media screen and (max-width: 426px) {
    nav {
        ul {
            flex-direction: column;
            li {
                margin: 15px;
                font-size: 22px;
            }
        }
        width: 40%;
    }
    #arrow {
        i {
            bottom: 16vw;
            right: 2vw;
        }
    }
    #author_card {
        margin: 50px auto;
        img {
            width: 180px;
        }
        #bg-text {
            width: 90%;
            h1 {
                font-size: 22px;
            }
            h2 {
                font-size: 19px;
            }
        }
    }
    .part {
        width: 75%;
    }
    #changedir {
        display: flex; 
        flex-flow: column;
        #changedir01 {
            order: 2;
        }
    }
    .part {
        width: 80%;
    }
    .parthead {
        font-size: 28px;
    }
    #skills {
        .skill {
            margin: 13px;
            width: 100%;
            h4 {
                font-size: 26px;
                margin: 1px;
            }
            p {
                font-size: 17px;
                margin: 12px;
            }
            i {
                font-size: 70px;
            }
        }
    }
    #services {
        @extend #skills;
        .service {
            @extend .skill;
            i {
                font-size: 50px;
            }
        }
    }
    #projects {
        h4, p {
            font-size: 28px;
            margin: 15px auto;
        }
        p {
            font-size: 23px;
        }
        .techs {
            padding: 7px;
        }
    }
    #contact {
        h4 {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
            margin-left: 20px;
        }
        .typeofinfo {
            margin-left: 0px;
        }
        #left, #right {
            width: 100%;
        }
        #contcont {
            display: flex;
            flex-direction: column;
        }
        form {
            input, textarea {
                width: 90%;
                height: 18px;
                font-size: 18px;
                margin: 8px;
                padding: 5px;
            }
            textarea {
                font-family: 'Roboto', sans-serif; 
                height: 5em;
            }
            #subm {
                width: 50%;
            }
        }
    }
    footer {
        font-size: 10px;
        padding: 4px;
    }
}